@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dosis&family=Lora&family=Nunito:wght@300;400;600;700&family=Poppins&family=Yesteryear&display=swap");

* {
	box-sizing: border-box;
	font-family: "Nunito";
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	padding: 36px;
}

.header {
	display: flex;
	align-items: center;
	height: 85px;
	background: linear-gradient(90deg, #802222 1.18%, #a626d3 100%);
	color: white;
	padding: 20px;
}

.header-image {
	height: 100%;
	font-size: 4rem;
	margin-right: 6px;
}

.header-title {
	font-size: 1.25rem;
	margin-right: auto;
}

.header-text {
	font-size: 0.75rem;
	font-weight: 500;
}

.form {
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 17px;
}

.form-input {
	font-family: "Karla", sans-serif;
	border-radius: 5px;
	border: 1px solid #d5d4d8;
	text-indent: 5px;
}
.form-input:focus {
	/* border: none; */
	outline: none;
}

.form-button {
	grid-column: 1 / -1;
	font-family: "Karla", sans-serif;
	background: linear-gradient(90deg, #802222 1.18%, #a626d3 100%);
	border-radius: 5px;
	color: white;
	border: none;
	cursor: pointer;
}

.meme-image {
	display: block;
	padding: 32px;
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 768px;
	border-radius: 4rem;
	border: none;
}

.meme {
	position: relative;
}

.meme-text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
		2px 2px 5px #000;
}

.bottom {
	bottom: 16px;
}

.top {
	top: 16px;
}
